name: CI

on: [pull_request]

jobs:

  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout 
        uses: actions/checkout@v2
  security:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/node@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }} 
